@import "../../assets/styles/variables.scss";

.timeLeftText {
  font-size: 2rem;
  margin-left: 10px;
}

.countdownWrapper {
  display: flex;
  justify-content: center;
}

.countdownText {
  padding: 10px 20px 15px 20px;
  border: 5px solid $borderColor;
  border-radius: 20px;
  text-align: center;

  box-shadow: 3px 3px 5px 6px $highlightColor;

  p {
    margin-bottom: 0;
  }
}
