@import "../../assets/styles/variables.scss";

.timeLeftText {
  font-size: 2rem;
  margin-left: 10px;
}

.countdownWrapper {
  display: flex;
  justify-content: center;
}

.countdownText {
  padding: 10px 20px 15px 20px;
  border-radius: 20px;
  text-align: center;
  background-color: $backgroundColor;
  box-shadow: 20px 20px 39px #d9c7ba, -20px -20px 39px #fffffc;

  p {
    margin-bottom: 0;
  }
}
